*#
*.aadl_diagram
*.aadlbin
*.aaxl2
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.iml
*.ldb
*.lof
*.synctex.gz
*.toc
*~
.#.*
.DS_Store
.bsp
.idea
.swp
TAGS
Thumbs.db
target
.aadlsettings
**/.settings/
**/out/
**/.aadlbin-gen/
**/.settings/
**/.IR/